/* body{
    margin: 0%;
}
.blue-box{
    background: #6541FD;
    color: #fff;
    width: 20%;
    /* position: relative; */
    border-radius: 10px;
   
}
.inner-box{
    text-align: center;
    /* position: relative; */
    background: #4728D6;
    width: 200px;
    border-radius: 50%;
    
} */