/* *{
    margin: 0px;
    padding: 0px;
}
 .NavBarContainer{
    margin: 5px;
 }

.NavBar{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}
.nav1 ul a{
    list-style: none;
    text-decoration: none;

} */